<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB96BbbjfxJL3c3F2QjNSfEIjM3nw5L_PY</string>
	<key>GCM_SENDER_ID</key>
	<string>818753284643</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.surffolio</string>
	<key>PROJECT_ID</key>
	<string>bingefolio</string>
	<key>STORAGE_BUCKET</key>
	<string>bingefolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:818753284643:ios:d584074f7a9230f9ab1f96</string>
</dict>
</plist>